/L2E1PesoIdeal/nbproject/private/
/L2E1PesoIdeal/build/
/L2E2CalculoDoIPTU/nbproject/private/
/L2E2CalculoDoIPTU/build/
/L3E4Formas/nbproject/private/
/L3E4Formas/build/
/L3E5SimulacaoImpressora/nbproject/private/
/L3E5SimulacaoImpressora/build/
